*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*
generale

*/
.colored{
    color: grey;
    
}

.inner-link{
    color: #4EA0FF;
}

.colored1{
    background-color: yellow;
}




/*
header
*/
header{
    background-color:#4EA0FF ;
    background-image: url("../img/pattern.png");
}

img{
    width: 200px;
}

/*
main
*/

.aligned{
    text-align: left;
}